<h1>All Products</h1>
<% @products.each do |product|  %>
	<p>Name: <%= product.name %></p>
	<p>Description: <%= product.description%></p>
	<p>Price: <%= product.price_in_cents%></p>
	<p>ID: <%= product.id %></p>
	<p>-----------------------------------------------</p>
	
<% end %>